# Mac cache
.DS_Store/
# node packages
node_modules/

# build output
lib/
# build cache
tsconfig.tsbuildinfo

# temporary files
tmp/

# Yarn
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions